# UX Testing Report
## Preface
User was presented two designs for a cafe website. They were given the following information on what the designs are hoping to convey:
- Cafe is marketed towards everyday college students
- Cafe is open late
- Cafe is a good place to study
- Cafe has affordable drinks/food



## Round 1
![Alt text](<Images/Revision 0.png>)
### Feedback
User had the following feedback regarding the two designs:

- User liked the splash image in Design 1, felt warm and inviting. Having people in the photo made them feel like it was a popular place to visit.
- User did not like the splash image in Design 2. They didn't like how dark it looked, and that it looked empty. Was reported that it looked eerie.
- User did not like the hero section in Design 2. With the splash image behind it, it was hard to read the text and the layout was unappealing. User preferred the splash and hero sections in Design 1 better.
- User did not like the menu section on either of the two designs. User felt that the card approach did not fit the site. User believes the cards make more sense if this was a mobile app and the cards were buttons to add the product to the cart. User had the same sentiments regarding the second design with the addition that they felt the barista image was out-of-place

## Round 2

![Alt text](<Images/Revision 1.png>)
### Feedback
User had the following feedback regarding the two designs:

- User liked the brighter splash image in Design 2, however still prefers the image/layout presented in Design 1
- User liked the updated menu in Design 1, however still did not like the cards being present. Suggested to make the accordian take up the full screen instead.
- User suggested making the horizontal spacing of the gallary columns to be smaller
- User suggested to add a "Contact Us" option via email in the footer
- User suggested to add a location for the Cafe in the footer

## Final Design
![Alt text](<Images/Revision 2.png>)

### Feedback
- User was happy with new menu design 